.search {
    position: relative;
    padding: 0.25rem;
    background: #fff;
    display: flex;
    justify-content: space-between;
}

.search span {
    margin-left: 0.4rem;
    display: inline-block;
    width: 1.5rem;
    line-height: 0.6rem;
    background: #fc9316;
    color: #fff;
    border-radius: 0.3rem;
}

.search input {
    height: 0.6rem;
    border-radius: 0.3rem;
    width: 100%;
    background: #EFEFEF;
    text-indent: 0.8rem;
    border: none;
    outline: none;
}

.search i {
    position: absolute;
    font-size: 0.4rem;
    color: #363636;
    top: 0.35rem;
    left: 0.5rem;;
}

#map {
    height: 5.5rem;
    width: 7.5rem;
    position: relative;
}

.list {
    overflow-y: auto;
    padding: 0 0.25rem;
    background: #fff;
}

.list li {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 0;
    text-align: left;
    border-bottom: 1px solid #E3E3E3;
}

.address {
    flex-grow: 3;
    padding-left: 0.5rem;
}

.list_num {
    line-height: 0.5rem;
    font-size: 0.4rem;
    color: #fc9316;
    padding-left: 0.2rem
}

.address p:nth-of-type(1) {
    font-size: 0.35rem;
    color: #fc9316;
    padding-bottom: 0.13rem;
}

.icon i {
    position: absolute;
    top: 3.32rem;
    color: #fc9316;
    font-size: 0.6rem;
    transform: translateX(0.5rem);
    transform: translate(0.5rem)
}

#content {
    text-align: center;
    position: relative;
    font-size: 0.3rem;
}