html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* custom */
a {
    color: #7e8c8d;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
}

li {
    list-style: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

html, body {
    width: 100%;
    height: 100%;
    background: #F8F8F8;
}

body {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,button{
    outline: none;
}
#footer{
    display: flex;
    justify-content: space-around;
    font-size: 0.25rem;
    height: 1.26rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #7f7f7f;
    box-shadow: 3px 3px #000;
    background: #fff;
}
#footer i{
    font-size: 0.43rem;
}
.footer div{
    margin-bottom: 0.15rem;
}
.footer{
    margin-top: 0.22rem;
}
#header{
    line-height: 0.83rem;
    font-size: 0.35rem;
    text-align: left;
    position: relative;
    color: #363636;
    background: #fff;
    font-weight: 600;
    border-bottom: 0.01rem solid #E3E3E3;
    z-index: 10;
    padding-left: 0.2rem;
}
#header i{
    color: #000;
    font-size: 0.25rem;
    padding-right: 0.15rem;
}
.header{
    font-weight: 600;
}
#content{
    font-size: 0.3rem;
}

input[type=radio]:after  {
    content: "";
    display:block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 14px;
    font-size: 16px;
    color: #fff;
    border: 2px solid #ddd;
    background-color: #fff;
    box-sizing:border-box;
    position: relative;
    left: -2px;
}

input[type=radio]:checked:after  {
    content: "";
    transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);
    -webkit-transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);
    border: 4px solid #fc9316;
}

/*  弹框*/
#dialog{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dialog{
    width: 4rem;
    background: #ffff;
    border-radius: 0.2rem;
}
.dialog_info{
    padding: 0.5rem;
    text-align: center;
}
.dialog_btn{
    text-align: center;
    padding: 0.2rem 0;
}
.dialog_btn button{
    padding: 0.1rem 0.2rem;
    border-radius:  0.05rem;
    background: #fc9316;
    color: #fff;
    border: none;
}
